.config/nvim/.netrwhist
.config/nvim/.undo/
.config/nvim/bundle/
.config/nvim/snippets/
.config/nvim/yankround/

.vim/.netrwhist
.vim/.vim
.vim/.undo
.vim/.yankround/
.vim/bundle/

.xmonad/*
!.xmonad/conkyrc
!.xmonad/topstatusbar.sh
!.xmonad/xmonad.hs

.zsh.d/.zsh.d
