.config/nvim/bundle/
.config/nvim/snippets/
.config/nvim/yankround/

.vim/.netrwhist
.vim/.vim
.vim/.undo
.vim/.yankround/
.vim/bundle/

.xmonad/*

.zsh.d/.zsh.d

!.xmonad/conkyrc
!.xmonad/topstatusbar.sh
!.xmonad/xmonad.hs

