[user]
    name    = Ryuichi KAWAMATA
    email   = i@rkmathi.net

[color]
    ui            = true
    status        = auto
    diff          = auto
    branch        = auto
    grep          = auto
    interactive   = auto

[core]
    editor  = vim
    autocrlf= input

[diff]
#    external = ~/.vim/git_diff_wrapper

[merge]
    ff = false

[pager]
#    diff =

[push]
    default = tracking

[alias]
    ad  = add .
    ba  = branch -a
    br  = branch
    bn  = branch --no-merged
    ci  = commit -m
    co  = checkout
    di  = diff
    fe  = fetch
    lg  = log --graph --date=iso --pretty=format:'%Cgreen%cd %Cblue%cn %Cred%h\n  %Creset%s'
    st  = status -sb
    wc  = whatchanged --graph

