[alias]
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/'
  a   = add --verbose
  adot= add --verbose .
  b   = branch
  ba  = branch --all
  br  = branch --remote
  cm  = commit --message
  co  = checkout
  d   = diff
  d1  = diff HEAD~1
  d2  = diff HEAD~2
  d3  = diff HEAD~3
  f   = fetch --prune
  g   = grep -nH --break --heading
  l   = log --abbrev-commit --date=iso --graph --pretty=format:'%C(red)%h %C(yellow)%d%C(green)%cd %C(blue)%cn\n%C(reset)%s\n'
  lv  = log --abbrev-commit --date=iso --graph --pretty=format:'%C(red)%h %C(yellow)%d%C(green)%cd %C(blue)%cn\n%C(reset)%s\n' --name-status
  plf = pull --ff-only
  plfo= pull --ff-only origin
  pln = pull --no-ff
  plr = pull --rebase
  ps  = push
  pso = push origin
  psom= push origin master
  rsh = remote show
  rsho= remote show origin
  s   = status --branch --short
  sh  = show
  wc  = whatchanged

[color]
  branch      = auto
  diff        = auto
  grep        = auto
  interactive = auto
  status      = auto
  ui          = auto

[core]
  autocrlf    = input
  editor      = vim
  excludesfile= ~/.gitignore-rkmathi
  pager       = less -R
  precomposeunicode = true

[interactive]
  singlekey   = true

[push]
  default     = current

[user]
  name        = Ryuichi KAWAMATA (@rkmathi)
  email       = iam@rkmathi.net

