[user]
    name    = Ryuichi KAWAMATA (rkmathi)
    email   = i@rkmathi.net

[color]
    ui            = true

[core]
    editor  = vim
    pager   = less -r
    excludesfile = ~/.gitignore-rkmathi

[merge]
    ff = false

[push]
    default = tracking

[web]
    browser = google-chrome

[alias]
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/'
    info  = remote show origin
    a   = add .
    b   = branch
    d   = diff
    f   = fetch --prune
    l   = log --graph --date=iso --pretty=format:'%Cgreen%cd %Cblue%cn %Cred%h\n  %Creset%s'
    s   = status --short --branch
    ba  = branch --all
    cm  = commit --message
    co  = checkout
    lv  = log --graph --date=iso --pretty=format:'%Cgreen%cd %Cblue%cn %Cred%h\n  %Creset%s' --name-status

