!!! Rxvt configures
! general
Rxvt.fading: 10
Rxvt.font: xft:MyricaM M:pixelsize=16:antialias=true
Rxvt.geometry: 240x60
Rxvt.iso14755: false
Rxvt.saveLines: 8192
Rxvt.scrollBar: false

! color
Rxvt.background: #fdf6e3
Rxvt.foreground: #657b83
Rxvt.border:     #fdf6e3
Rxvt.cursor:     #586e75
! mouse
Rxvt.mouse_background: #eee8d5
Rxvt.mouse_foreground: #586e75
! black
Rxvt.color0:  #eee8d5
Rxvt.color8:  #fdf6e3
! red
Rxvt.color1:  #dc322f
Rxvt.color9:  #cb4b16
! green
Rxvt.color2:  #859900
Rxvt.color10: #93a1a1
! yellow
Rxvt.color3:  #b58900
Rxvt.color11: #839496
! blue
Rxvt.color4:  #268bd2
Rxvt.color12: #657b83
! purple
Rxvt.color5:  #d33682
Rxvt.color13: #6c71c4
! cyan
Rxvt.color6:  #2aa198
Rxvt.color14: #586e75
! white
Rxvt.color7:  #073642
Rxvt.color15: #002b36

! Require urxvt-fullscreen
URxvt.perl-ext-common: fullscreen
URxvt.keysym.F11: perl:fullscreen:switch
